.card-eqp { 
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 16px;
    margin: 16px;
    border: 10px; 
    border-radius: 10px;
    box-shadow: 0px 0px 4px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    vertical-align: bottom;
    display: flex;
    margin-top:3%;
    justify-self: center;
    
}
.card5 
{ background-color: rgb(255, 255, 255);
    width: 20%;
    height: 10%;
    padding: 16px;
    border: 10px; 
    border-radius: 10px;
    box-shadow: 0px 0px 4px;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    vertical-align: bottom;
    display: flex;
    margin-left: 10px;
    margin: 10px;
    justify-self: center;

}

.card-eqp img { 
    justify-self: center;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 10px;
} 


.main3 { 
    display: flex;
    flex-wrap: wrap;
gap: 2%;
justify-self: center;
justify-content: center;
text-align: center;
}

.main4 
{ display: flex;
    flex-wrap: wrap;
gap: 9%;
justify-self: center;
text-align: center}